@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.navbar {
  list-style: none;
  padding: 0px;
  background-color: #f18a48;
  text-align: center;
}

.menu ul li {
  display: inline;
}

.image {
  width: 8em;
  padding: 0.5rem;
}

.menu ul li a {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #fff;
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  transition: background 0.3s;
}

.menu ul li a:hover {
  background-color: #3750f0;
}

.nav-container {
  display: flex;
  margin: 25px;
}

.items {
  display: flex;
  flex-wrap: wrap;
}

.item-card {
  display: flex;
  width: 16rem;
  padding: 1rem;
  flex-direction: column;
}

.content a {
  color: black;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: center;
}

.content a:hover {
  color: #ccc;
}

.price {
  color: #344bf0;
  font-size: 1rem;
  font-family: Lato, sans-serif;
  font-weight: bold;
  text-align: center;
}

.favorite-item {
  text-align: center;
  padding: 0.2rem;
}

.favorite-item a:hover {
  color: #ccc;
  cursor: pointer;

}

.action {
}

.plus-icon:hover {
  color: black;
  cursor: pointer;
}

#adicionar-button {
  background: #344bf0;
  color: #ffffff;
  font-family: Lato;
  padding: 2px 10px;
  border: 0;
  margin-top: 0.5rem;
  border-radius: 4px;
}

#adicionar-button a {
  color: white;
}

#adicionar-button a:hover {
  color: #ccc;
  cursor: pointer;
}


h1 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 4rem; 
}

label {
  font-family: 'Open Sans', sans-serif;
}

form {
  display: flex;
  flex-direction: column
}

label {
 
}

input {
  width: 30em;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input:focus {
  background-color: lightgrey;
}

textarea {
  width: 30em;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #4F4F4F;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

select {
  width: 30em;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  border: 1px solid #4F4F4F;
  background-color: #f1f1f1;
}

input[type=button], input[type=submit], input[type=reset]  {
  background-color: #3750f0;
  border: none;
  color: white;
  padding: 12px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  margin-bottom: 4rem;
}

#orcamento {
  width: 4rem;
}